/* Home */
#home {
    background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0, 101, 219) 50%, rgba(0, 212, 255, 1) 100%);
    min-height: 500px;
}

/* Custom Scroll Bar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    background: rgb(0, 101, 219);
    border-radius: 4px;
}